.pricingInfo {
    position: absolute;
    top: 40%;
    right: 20%;
    left: 20%;
    height: 50vh;
    border-radius: 5px;
    background-color: white;
    box-shadow: 2px 2px 5px 2px rgb(232, 229, 229);
}